<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
<!--    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"-->
<!--        tools:ignore="QueryAllPackagesPermission" />-->

    <queries>
        <package android:name="com.android.chrome" />
        <package android:name="com.yandex.browser" />
        <package android:name="com.opera.browser" />
        <package android:name="org.mozilla.firefox" />
        <package android:name="com.uma.musicvk" />
        <package android:name="com.vkontakte.android" />
        <package android:name="com.google.android.apps.youtube.music" />
        <package android:name="ru.yandex.music" />
    </queries>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.RussianRockSongBook4"
        android:largeHeap="true"
        tools:targetApi="m">

        <meta-data
            android:name="com.android.vending.billing.TEST_PURCHASE_ENABLED"
            android:value="true" />
<!--        <meta-data-->
<!--            android:name="com.android.vending.billing.NONPRODUCTION_ENVIRONMENT"-->
<!--            android:value="true" />-->

        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>